.container {
  padding-bottom: 20px;
}

.cards {
  min-height: 310px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 0 15px rgba(0,0,0,.2);
  border-radius: 3px;
  width: 200px;
  height: 250px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  position: relative;
}

.arrow {
  position: absolute;
  top: -75px;
  left: -80px;
  transform: rotate(45deg);
  visibility: hidden;
}

.card:hover {
  outline: 3px solid #d8b589;
  outline-offset: 8px;
}

.card:hover .arrow {
  visibility: visible;
}

.card h3 {
  font-size: 16px;
  font-weight: lighter;
}

.card p {
  font-size: 12px;
  opacity: 0.7;
}

.card img {
  width: 50%;
}

