.footer {
  text-align: center;
  padding: 30px;
  background: linear-gradient(0deg, rgb(125, 221, 222) 6%, rgb(218, 206, 180) 80%);
}

.footer a {
  font-size: 30px;
  color: #4266dc;
}

.footer a:hover {
  color: blue;
}

.footer p {
  opacity: 0.7;
}

